/* General reset and box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #87CEFA;
  font-family: Arial, sans-serif;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Card container */
.card {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  height: 470px;
  perspective: 1000px;
  cursor: pointer;
}

.para-text {
  position: relative;
  top: 0px;
  width: 100%;
  font-family: 'Righteous', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-style: italic;
}

/* The page class with flexbox for layout */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.cover {
  background-color: #FFB6C1;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transform: rotateY(0deg);
  transition: transform 1s ease-in-out;
}

.inside {
  background-color: #FFB6C1; 
  border-radius: 15px;
  color: #fff;
  transform: rotateY(180deg);
  transition: transform 1s ease-in-out;
}

/* Flipping the card */
.card.flip .cover {
  transform: rotateY(180deg);
}

.card.flip .inside {
  transform: rotateY(0deg);
}

.click-button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  margin-top: 30px; 
  transition: all 0.3s ease-in-out;
}

.card-image {
  width: 220px;
  margin-top: 20px;
  height: auto;
  border-radius: 10px;
}


.page .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Button hover effect */
.click-button:hover {
  background-color: #000;
  color: #fff;
}

.t-text {
  position: absolute;
  top: 30px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.b-text {
  position: absolute;
  text-align: bottom;
  left: 40px;
  font-family: 'Righteous', sans-serif;
  bottom: 30px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  font-style: italic;
}

/* Heading styling */
.hb {
  margin-top: 30px;
  background: black;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Righteous', sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  position: relative;
}
